<div class="posts">
  <div class="pagination">
    <button (click)="pageDown()" disabled="true" class="pagination__arrowLeft"><i
        class="fas fa-arrow-left"></i></button>
    <div class="pagination__numbersWrapper">
      <p class="pagination__pageNumber">{{event.pageIndex}}</p>
      <p class="pagination__length">/ {{howManyPages}}</p>
    </div>
    <button (click)="pageUp()" class="pagination__arrowRight"><i class="fas fa-arrow-right"></i></button>
  </div>
  <app-post-item *ngFor="let post of postsSlice" [post]="post"></app-post-item>
</div>
